.main {
  padding-top: 100px;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--black);
}

.description {
  font-size: 1.125rem;
  color: var(--grey);
  line-height: 1.8;
}

